@{
    ViewData["Title"] = "home";
}

<h1>MyWebCalculator Home Page</h1>
<ul>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Add">Add</a></li>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Subtract">Subtract</a></li>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Multiply">Multiply</a></li>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Divide">Divide</a></li>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Power">Power</a></li>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Ceiling">Ceiling</a></li>
    <li><a asp-area="" asp-controller="Calculator" asp-action="Floor">Floor</a></li>
</ul>
