@{
    ViewData["Title"] = "Subtract";
}

<h1>@ViewData["Title"]</h1>
<h3>Subtract query string numbers</h3>
<ul>
    <li>Number 1: <b>@ViewData["num1"]</b></li>
    <li>Number 2: <b>@ViewData["num2"]</b></li>
    <li>Result: <b>@ViewData["result"]</b></li>
</ul>